<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="25px">

  <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="w-100">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h2 class="roboto">
        Show or hide Siling institutions on dashboard
      </h2>
    </div>

    <div>
      <app-settings-core-show-hide [showHideData]="(this.ss.showHideList$ | async)!"
        (onShowHideChange)="onShowHideChange($event)">
      </app-settings-core-show-hide>
    </div>

  </section>

  <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="w-100">

    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-flat-button color="primary" (click)="onAddNewIns()">
        <mat-icon>add</mat-icon>
        <span class="mx-1">
          Add New Institution
        </span>
        <mat-icon class="">account_balance</mat-icon>
      </button>
    </div>
  </section>
</div>

