<div class="card text-left border-secondary">

  <div class="img-center fixed-img-height">
    <img class="card-img-top img-fixed-height"
      [src]="'assets/banner/' + silingCompanyId + '.jpg'" alt="SiLing Co. Img"
      [ngStyle]="{'background-color': (silingCompanyId === 'fidelity'?'#67941e':'#fff')}"
      onerror="this.src = 'assets/banner/bank5.jpg'">
  </div>

  <div class="card-header header">
    <span class="panel-header page-anchor">
      {{ (silingCompanyId ? silingCompanyId : 'Unknown Siling ID') | titlecase }}
    </span>
  </div>

  <div>
    <ng-container *ngIf="(silingData && silingData.length > 0); else noData">
      <ul class="list-group">
        <ng-container *ngFor="let entry of silingData; last as isLast">
          <app-core-siling-column-entry [entryDetail]="entry" [isLast]="isLast"></app-core-siling-column-entry>
        </ng-container>
      </ul>
    </ng-container>

    <ng-template #noData>
      <div class="px-3 py-3" fxLayout="row" fxLayoutAlign="center center">
        No data returned.
      </div>
    </ng-template>
  </div>

</div>
