<div class="card text-left border-secondary">

  <div class="img-center">
    <img class="card-img-top img-fixed-height"
      [src]="'assets/banner/' + silingCompanyId + '.jpg'" alt="SiLing Co. Img"
      [ngStyle]="{'background-color': (silingCompanyId === 'fidelity'?'#67941e':'#fff')}"
      onerror="this.src = 'assets/banner/bank3.jpg'">
  </div>

  <div class="card-header header">
    <span class="panel-header page-anchor">
      {{ (silingCompanyId ? silingCompanyId : 'Unknown Siling ID') | titlecase }}
    </span>
  </div>

  <div>
    <ng-container *ngIf="(silingData && silingData.length > 0); else noData">
      <ul class="list-group">
        <ng-container *ngFor="let entry of (silingData)">
          <app-core-siling-column-entry [entryDetail]="entry"></app-core-siling-column-entry>
        </ng-container>
      </ul>
    </ng-container>

    <ng-template #noData>
      <div>
        No data found.
      </div>
    </ng-template>
  </div>

</div>
