
.img-fixed-height {
  max-height: 80px;
  max-width: 300px;
}

.img-center {
  text-align: center;
}

.fid-background-green {
  background-color: #67941e;
}

.panel-header {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.card-header.header {
  color: #8c8c8c;
}

.page-anchor {
  cursor: pointer;
}
