<section>
  <div class="">
    <button mat-button color="primary" (click)="onNewEntryClick()">
      <mat-icon>add</mat-icon>
      <span>
        New
      </span>
    </button>
  </div>
</section>

<hr>

<section class="w-100 pt-3 pb-3" fxLayout="row" fxLayoutAlign="center center">
  <ng-container *ngIf="((this.cs.isDashboardDataLoading$ | async) === false); else isLoading">
    <div class="chart-shell" >
      <app-shared-line-chart [chartData]="(this.cs.chartData$ | async)"></app-shared-line-chart>
    </div>
  </ng-container>
</section>

<hr>

<section class="pb-3 pt-3">
  <app-core-summary [summaryData]="(this.cs.summary$ | async)"
    [loading$]="this.cs.isDashboardDataLoading$"></app-core-summary>
</section>

<hr>

<section fxLayout.gt-sm="row" fxLayout="column"
  fxLayoutAlign.gt-sm="center start" fxLayoutAlign="start center"
  fxLayoutGap.gt-sm="10px" fxLayoutGap="5px" class="pt-3 pb-3">

  <ng-container *ngIf="((this.cs.isDashboardDataLoading$ | async) === false); else isLoading">
    <ng-container *ngIf="(this.cs.dashboardData$ | async) as dashboardData">
      <ng-container *ngIf="(dashboardData.keys && dashboardData.keys.length > 0); else noDataShown">
        <ng-container *ngFor="let silingKey of dashboardData.keys">
          <div class="siling-column1" [fxFlex]="dashboardData.flexNumber + '%'">
            <app-core-siling-column
              [silingCompanyId]="silingKey"
              [silingData]="dashboardData.data[silingKey]">
          </app-core-siling-column>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</section>

<ng-template #isLoading>
  <div class="w-100">
    <app-shared-loading></app-shared-loading>
  </div>
</ng-template>

<ng-template #noDataShown>
  <div>
    No data to show.
  </div>
</ng-template>
