<section fxLayout="row" fxLayoutAlign="space-between center" class="sticky-top dashboard">
  <div class="">
    <button mat-button color="primary" (click)="onNewEntryClick()">
      <mat-icon>add</mat-icon>
      <span>New entry</span>
    </button>
    <button mat-button color="primary" (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
      <span>Refresh</span>
    </button>
    <button mat-button color="primary" (click)="onOpenFilters()">
      <mat-icon>filter_list</mat-icon>
      <span>Filters</span>
    </button>
  </div>
  <div>
    <ng-container *ngIf="(this.cs.dataLastFetched$ | async) as lastFetched">
      <div class="if">
        Last fetched: {{lastFetched | dateDisplay:'FULLDATE'}}
      </div>
    </ng-container>
  </div>
</section>

<section class="">
  <app-core-summary [summaryData]="(this.cs.summary$ | async)" [loading$]="this.cs.isDataLoading$">
  </app-core-summary>
</section>

<hr>

<section class="w-100" fxLayout="column" fxLayoutAlign="start center" *ngIf="showGraph">
  <ng-container *ngIf="((this.cs.isDashboardDataFirstTimeLoading$ | async) === false); else isChartLoading">
    <div class="chart-shell">
      <div class="load-parent">
        <ng-container *ngIf="(this.cs.isDataLoading$ | async)">
          <shared-loading-bar></shared-loading-bar>
        </ng-container>
      </div>
      <app-shared-line-chart [chartData]="(this.cs.chartData$ | async)"></app-shared-line-chart>
    </div>
  </ng-container>
</section>

<hr>

<mat-tab-group mat-align-tabs="center" #tabGroup [selectedIndex]="(this.cs.selectTabIndex$ | async)"
  (selectedTabChange)="onTabChange($event)" animationDuration="0ms"
  class="pb-3 siling-tab-group">

  <ng-container *ngFor="let tab of (this.cs.dashboardTabs$ | async)">
    <mat-tab [label]="tab.display">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon mr-2">{{ tab.tabIcon }}</mat-icon>
          {{ tab.display }}
      </ng-template>

      <ng-container [ngSwitch]="tab.id">

        <ng-container *ngSwitchCase="'expandedView'">
          <section fxLayout.gt-sm="row" fxLayout="column"
            fxLayoutAlign.gt-sm="start start" fxLayoutAlign="start center"
            fxLayoutGap.gt-sm="10px" fxLayoutGap="5px" class="">

            <ng-container *ngIf="((this.cs.isDashboardDataFirstTimeLoading$ | async) === false); else isLoading">
              <ng-container *ngIf="(this.cs.dashboardData$ | async) as dashboardData">
                <ng-container *ngIf="(dashboardData.keys && dashboardData.keys.length > 0); else noDataShown">
                  <ng-container *ngFor="let silingKey of dashboardData.keys">
                    <div class="" [fxFlex]="dashboardData.flexNumber + '%'">
                      <app-core-siling-column
                        [silingCompanyId]="silingKey"
                        [silingData]="dashboardData.data[silingKey]">
                    </app-core-siling-column>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </section>
        </ng-container>

        <ng-container *ngSwitchCase="'compactView'">
          Table
        </ng-container>
      </ng-container>
    </mat-tab>
  </ng-container>
</mat-tab-group>




<ng-template #isLoading>
  <div class="w-100">
    <app-shared-loading></app-shared-loading>
  </div>
</ng-template>

<ng-template #isChartLoading>
  <div class="w-100">
    <app-shared-loading [message]="'Graph'"></app-shared-loading>
  </div>
</ng-template>

<ng-template #noDataShown>
  <div>
    No data to show.
  </div>
</ng-template>
