.chart-shell {
  width: calc(100% - 10rem);

  .load-parent {
    height: 9px;
    width: 100%;
  }
}

button mat-icon {
  margin-right: 5px;
}

.sticky-top.dashboard {
  z-index: 20;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
