<h1 mat-dialog-title class="mfont my-2" ngClass.gt-sm="big">
  <ng-container *ngIf="this.data.company; else newEntry">
    Editing Existing Entry
  </ng-container>
  <ng-template #newEntry>
    New Siling1k Entry
  </ng-template>
</h1>
<hr>
<ng-container *ngIf="((this.data.companyLoading | async) === false); else isLoading">
  <div mat-dialog-content class="content-parent">
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between start" class="w-100">
      <form [formGroup]="this.entryFg" fxFlex.gt-sm="50">
        <ng-container *ngFor="let control of entryFgStruct">
          <div>
            <ng-container [ngSwitch]="control.inputType">
              <ng-container *ngSwitchCase="'TEXT_INPUT'">
                <mat-form-field class="w-100" appearance="standard">
                  <mat-label>{{control.controlName | titlecase}}</mat-label>
                  <input type="text" matInput [formControlName]="control.controlName" (focus)="onFocus(control.controlName)"
                  [placeholder]="control.controlName | titlecase">
                  <mat-hint [id]="$any(null)">{{control.controlName}}</mat-hint>
                </mat-form-field>

              </ng-container>
              <ng-container *ngSwitchCase="'SELECT_INPUT'">
                <mat-form-field class="w-100" appearance="standard">
                  <mat-label>{{control.controlName | titlecase}}</mat-label>
                  <ng-container *ngIf="(this.data.companies | async) as companyOptions">
                    <mat-select [formControlName]="control.controlName" (focus)="onFocus(control.controlName)">
                      <mat-option *ngFor="let opt of companyOptions" [value]="opt">
                        {{ opt.name }}
                      </mat-option>
                    </mat-select>
                  </ng-container>
                  <mat-hint [id]="$any(null)">{{control.controlName}}</mat-hint>
                </mat-form-field>
              </ng-container>
              <ng-container *ngSwitchCase="'DATE_INPUT'">
                <mat-form-field class="w-100" appearance="standard">
                  <mat-label>{{control.controlName | titlecase}}</mat-label>
                  <input matInput [matDatepicker]="picker" [formControlName]="control.controlName">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-hint [id]="$any(null)">{{control.controlName}}</mat-hint>
                </mat-form-field>

              </ng-container>
            </ng-container>

              <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error> -->
            <!-- </mat-form-field> -->
          </div>
        </ng-container>
      </form>

      <div fxFlex="50" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" fxHide fxShow.gt-sm
        class="tooltip-parent">
        <ng-container *ngIf="currentFocusControl; else noTooltip">
          <div class="font-weight-bold subtitle">
            {{currentFocusControl | titlecase}}
          </div>
          <div>
            {{currentFocusControl}}
          </div>
        </ng-container>
        <ng-template #noTooltip>
          <div>
            Select a company and enter the $ amount to add.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>

<hr>
<div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="end center" >
  <button mat-flat-button (click)="onSave()">Save</button>
  <button mat-flat-button (click)="onNoClick()">Cancel</button>
</div>

<ng-template #isLoading>
  <div>
    Loading...
  </div>
</ng-template>
