<ng-container *ngIf="entryDetail">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px"
    [ngClass]="{'border-btn-none':isLast, 'list-group-item roboto':true}"
    [class]="entryDetail.profitPercent | profitGainBgClass">

    <div class="w-100 roboto small-number text-muted" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <div>
          {{entryDetail.date ? (entryDetail.date | dateDisplay:'MDY') : 'NO DATE'}}
        </div>
        <div>
          <app-shared-popover [text]="entryDetail.date"></app-shared-popover>
        </div>
      </div>
      <div>
        {{entryDetail.date | dateFromNow}}
      </div>
    </div>

    <div class="w-100" fxLayout.gt-sm="row" fxLayout="column"
      fxLayoutAlign.gt-sm="space-between center" fxLayoutAlign="start center">

        <div class="dollar-amount numbers med-number">
          ${{ entryDetail.amount | localeNumberDisplay }}
        </div>
        <div [class]="'gains-rate numbers med-number spacing-half ' + (entryDetail.profitPercent | numberGainClass)"
          [title]="entryDetail.profitPercent" fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="med-number">{{ entryDetail.profitPercent | profitPercentIconClass }}</mat-icon>
          </div>
          <div>
            {{ entryDetail.profitPercent | profitPercent }}
          </div>
        </div>
    </div>

    <div class="text-muted numbers small-number w-100" fxLayout="row" fxLayoutAlign="start center"
      [title]="entryDetail.profit">
        {{ entryDetail.profit | profit }}
    </div>

  </div>
</ng-container>
