.gains-rate {
  text-align: right;
}

.dollar-amount {
  text-align: left;
  padding-left: 0px;
  letter-spacing: 0.5px;
}

.date-info {
  height: 21px;

  .from-now {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.med-number {
  font-size: 20px;
}

.small-number {
  font-size: 14px;
}

.spacing-half {
  letter-spacing: 0.5px;
}

.numbers {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.positive {
  color: #00b33c;
}

.negative {
  color: #b32400;
}

.no-change {
  color: #888;
}

.pos-bg {
  background-color: #e1f5e154;
}

.neg-bg-1 {
  background-color: #f7e5e536;
}

.neg-bg-2 {
  background-color: #f7e5e59e;
}

.neg-bg-3 {
  background-color: #f7e5e5d9;
}

.no-change-bg {
  background-color: #cccccc0f;
}

.border-btn-none {
  border-bottom: 0px;
}
