<ng-container *ngIf="this.apexSeries && this.apexXAxis && this.apexChart && this.apexDataLabels && this.apexMarkers
  && this.apexTooltip && this.apexTitle && this.apexFill && this.apexYAxis && this.apexLegend
  && this.apexGrid">
  <apx-chart #chart
    [series]="this.apexSeries"
    [chart]="this.apexChart"
    [dataLabels]="this.apexDataLabels"
    [markers]="this.apexMarkers"
    [title]="this.apexTitle"
    [fill]="this.apexFill"
    [yaxis]="this.apexYAxis"
    [xaxis]="this.apexXAxis"
    [tooltip]="this.apexTooltip"
    [legend]="this.apexLegend"
    [grid]="this.apexGrid"
  ></apx-chart>
</ng-container>


