<div cdkDropListGroup>
  <div class="drop-area-container">
    <h2 class="mb-2 if">Currently Being Displayed</h2>

    <div cdkDropList [cdkDropListData]="showList" class="drop-area-list" (cdkDropListDropped)="drop($event)">
      <div class="item-box" *ngFor="let company of showList" cdkDrag>
        {{company.name | silingCompanyDisplay}}
      </div>
    </div>
  </div>

  <div class="drop-area-container">
    <h2 class="mb-2 if">Hidden</h2>

    <div cdkDropList [cdkDropListData]="hideList" class="drop-area-list" (cdkDropListDropped)="drop($event)">
      <div class="item-box" *ngFor="let company of hideList" cdkDrag>
        {{company.name | silingCompanyDisplay}}
      </div>
    </div>
  </div>
</div>
