<div class="w-100" ngClass.gt-sm="big" (enterEscapeKeyEvent)="onKeyEvent($event)">
  <section class="if title-bar-bg title w-100" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div>
        <ng-container *ngIf="this.data.company; else newEntry">
          Editing Existing Entry
        </ng-container>
        <ng-template #newEntry>
          New Siling1k Entry
        </ng-template>
      </div>
    </div>
    <div>
      <button mat-icon-button color="warn" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </section>
</div>
<ng-container *ngIf="((this.data.companyLoading | async) === false); else isLoading">
  <div class="container pt-3">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start" class="w-100">
      <form [formGroup]="this.entryFormGroup" fxFlex.gt-sm="50">
        <ng-container *ngFor="let control of entryFormGroupStruct">
          <div>
            <ng-container [ngSwitch]="control.inputType">

              <ng-container *ngSwitchCase="'TEXT_INPUT'">
                <mat-form-field class="w-100" appearance="standard">
                  <mat-label>{{control.controlName | silingEntryTooltip:true}}</mat-label>
                  <input type="text" matInput [formControlName]="control.controlName"
                    (focus)="onFocus(control.controlName)">
                  <span matPrefix *ngIf="control.controlName === 'amount'">$&nbsp;</span>
                  <mat-hint *ngIf="currentFocusControl === control.controlName" [id]="$any(null)">
                    {{control.controlName | silingEntryTooltip:true}}
                  </mat-hint>
                  <mat-error *ngIf="this.entryFormGroup.get(control.controlName)?.hasError('optionalCommaSingleDecimalNumberOnly')">
                    Please enter a valid number!
                  </mat-error>
                </mat-form-field>
              </ng-container>

              <ng-container *ngSwitchCase="'CHECK_INPUT'">
                <div class="mt-1">
                  <mat-checkbox class="" [formControlName]="control.controlName" color="primary">
                    {{ control.controlName | silingEntryTooltip }}
                  </mat-checkbox>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'SELECT_INPUT'">
                <mat-form-field class="w-100" appearance="standard">
                  <mat-label>{{control.controlName | silingEntryTooltip:true}}</mat-label>
                  <ng-container *ngIf="(this.data.companies | async) as companyOptions">
                    <mat-select [formControlName]="control.controlName" (focus)="onFocus(control.controlName)">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let opt of companyOptions" [value]="opt">
                        <mat-icon>account_balance</mat-icon>
                        {{ opt.name | silingCompanyDisplay}}
                      </mat-option>

                      <mat-select-trigger>
                        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start end">
                          <mat-icon>account_balance</mat-icon>
                          <div>
                            {{ this.entryFormGroup.get('company')?.value?.name | silingCompanyDisplay}}
                          </div>
                        </div>
                     </mat-select-trigger>

                    </mat-select>
                  </ng-container>
                  <mat-hint *ngIf="currentFocusControl === control.controlName" [id]="$any(null)">
                    {{control.controlName | silingEntryTooltip:true}}
                  </mat-hint>
                </mat-form-field>
              </ng-container>

              <ng-container *ngSwitchCase="'DATE_INPUT'">
                <mat-form-field class="w-100" appearance="standard">
                  <mat-label>{{control.controlName | silingEntryTooltip:true}}</mat-label>
                  <input matInput [matDatepicker]="picker" [formControlName]="control.controlName"
                    (focus)="onFocus(control.controlName)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-hint *ngIf="currentFocusControl === control.controlName" [id]="$any(null)">
                    {{control.controlName | silingEntryTooltip:true}}
                  </mat-hint>
                </mat-form-field>
              </ng-container>
            </ng-container>

          </div>
        </ng-container>
      </form>

      <div fxFlex="50" fxHide fxShow.gt-sm
        class="tooltip-parent">
        <ng-container *ngIf="currentFocusControl; else noTooltip">
          <div class="font-weight-bold subtitle mfont mb-2" fxLayout="row" fxLayoutAlign="start center">
            {{currentFocusControl | titlecase}}
          </div>
          <div class="roboto" fxLayout="row" fxLayoutAlign="start center">
            {{currentFocusControl | silingEntryTooltip}}
          </div>
        </ng-container>
        <ng-template #noTooltip>
          <div fxLayout="column" fxLayoutAlign="center center">
            Enter the dollar amount for its institution.
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <hr>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="action-bar mx-3">
    <div class="error-msg">
      <div *ngIf="this.entryFormGroup.touched && this.entryFormGroup.invalid" class="text-danger err-header">
        Fix invalid inputs before saving.
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
      <button mat-stroked-button (click)="onNoClick()" color="warn">
        <mat-icon>close</mat-icon>
        Cancel
      </button>
      <button mat-stroked-button (click)="onSave()" [disabled]="this.entryFormGroup.invalid">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
  </div>
</ng-container>



<ng-template #isLoading>
  <div class="my-3">
    <app-shared-loading [message]="'institutions'"></app-shared-loading>
  </div>
</ng-template>
