<ng-container *ngIf="loading$">
  <ng-container *ngIf="((loading$ | async) === false); else loading">
    <ng-container *ngIf="summaryData">
      <div class="roboto" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="text-muted">
          <div [title]="'Last entry updated'">
            {{summaryData.lastUpdated | dateDisplay:'MDYANDFROMNOW' }}
          </div>
        </div>
        <div class="total" [title]="summaryData.total">
          <span class="green">
            $ {{summaryData.total | localeNumberDisplay}}
          </span>
        </div>

      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="center center">
    Calculating summary...
  </div>
</ng-template>
