section.title {
  padding: 15px;
  font-size: 18px;
}

form.form-parent {
  .count {
    font-family: 'Quicksand';
    font-weight: 700;
    color: #2a2961;
  }
}

.action-bar {
  .errors {
    font-size: 14px;
    min-width: 5px;
  }
}


mat-form-field {
  width: 100%;
}

.tt {
  font-size: 14px;
}

.action-bar {
  margin-bottom: 10px;
}

button .mat-icon {
  margin-top: -4px;
}
