<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="25px">

  <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="w-100">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h2 class="roboto">
        All Companies List
      </h2>
    </div>


  </section>

  <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="w-100">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h2 class="roboto">
       Show / Hide List
      </h2>
    </div>


  </section>
</div>
